
/* Defines overall look of both pages */

body {
  background-color: #DCDCDC;
}

header h1{
  grid-column: span 12;
  justify-self: center;
  font-size: 3rem;
}

main {
  margin: auto;
  max-width: 1200px;
}

main h2 {
  grid-column: span 12;
  justify-self: left;
}

main p {
  grid-column: span 12;
  justify-self: left;
}

.list {
  grid-column: span 12;
}

.list-text {
  align-items: start;
  display:grid;
  padding: 0;
}

.list-text p {
  align-self: start;
}

.hovercard {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  align-items: flex-start;
  height: 20rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media screen and (max-width: 1000px) {
    grid-column: span 12;
  }
}

.poster {
  display:flex;
  position: relative;
  object-fit: cover
}

.poster p {
  background: #000000;
  color: #FFF;
  opacity: 0.5;
  position: absolute;
  left: 90%;
  bottom: 0%;
  padding: 0.1rem;
}

.poster img {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

hr {
  grid-column: span 10;
  justify-self: center;
}

footer h3 {
  grid-column: span 12;
  justify-self: center;
  font-size: 1rem;
}

footer h2 {
  grid-column: span 12;
  justify-self: center;
}
